html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #181614;
  font-family: 'Courier New', Courier, monospace;
  color: #79a54d;
}

a:link {
  color: #79a54d;
}

a:visited {
  color: #f3ebd5;
}