html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #181614;
  font-family: 'Courier New', Courier, monospace;
  color: #79a54d;
}


.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameContainer {
  width: min-content;
  padding: 8px;
  border: 2px solid #79a54d;
}

.header {
  margin: 8px;
  text-align: center;
  padding: 0 8px 0 8px;
}

.header h1 {
  white-space: nowrap;
}

.footer {
  margin: 8px;
  color: #f3ebd5;
  font-size: 12px;
}


/*********************** user input ***********************/
.inputContainer {
  padding: 20px 10px 20px 10px; 
}

.textbox {
  box-shadow: inset #f3ebd5 0 0 0 2px;
  background: #181614;
  appearance: none;
  position: relative;
  border: 0;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 34px;
  color: #f3ebd5;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  height: 36px;
}

.errors {
  color: #df5f3f;
  padding: 20px 10px;
  display: none;
}


/*********************** guesses ***********************/
.guessContainer {
  display: flex;
}

.guessContainer div {
  background-color: #181614;
  box-shadow: inset #f3ebd5 0 0 0 2px;
  border: 0;
  border-radius: 3px;
  color: #f3ebd5;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
  padding: 20px;
}

.info {
  color: #79a54d;
  padding: 20px 10px;
}

.gameOverContainer {
  padding: 10px 10px 20px 10px; 
  display: none;
}

/*********************** button ***********************/
.button {
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid transparent;
  border-radius: 0px;
  height: 36px;
  line-height: 34px;
  color: #f3ebd5;
  background-color: #79a54d;
  padding: 0 18px;
}

.button:disabled {
  background-color: #31302f;
}
